<div>

  <ng-container *ngFor="let slides of annotations | toArray; let i = index">

    <p class="page-title mat-title">Page {{i + 1}}</p>

    <mat-card *ngFor="let annotation of slides | toArray; let i = index" (click)="onSelect(annotation)" [ngClass]="{'selected': selection.indexOf(annotation.uuid) !== -1}">

      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div class="ann-type-icon">
            <mat-icon [svgIcon]="getToolIcon(annotation.type)"></mat-icon>
          </div>
          <div fxFlex="auto">
            <p>
              <b>{{getToolName(annotation.type)}}</b>
            </p>
            <p>Date: {{annotation.timestamp * 1000 | date:'dd MMMM y, H:mm'}}</p>
          </div>
        </div>
      </mat-card-content>

      <mat-card-footer>
        <button mat-icon-button (click)="onDelete(annotation)">
          <mat-icon svgIcon="delete"></mat-icon>
        </button>

      </mat-card-footer>
    </mat-card>

  </ng-container>


</div>
