<div class="box">
    <div class="form-page">
        <div class="box-form">
            <h2>Sign Up</h2>
            <div *ngIf="!success">
                <div *ngIf="message" class="message-box"
                     [ngClass]="{'positive-message': success, 'negative-message': !success}">
                    <span>{{message}}</span>
                </div>

                <form [formGroup]="signupForm" (ngSubmit)="doSignup(signupForm.value)">
                    <div class="form-element">
                        <label>Insert a unitn.it email</label>
                        <div class="input-with-confirm">
                            <input type="email" placeholder="Email" [formControl]="signupForm.controls['email']">
                            <div class="validation-confirm" *ngIf="signupForm.controls['email'].valid">
                                <i class="mdi mdi-check mdi-36px"></i>
                            </div>
                        </div>
                        <div class="validation-message"
                             *ngIf="(signupForm.controls['email'].dirty || signupForm.controls['email'].touched) && !signupForm.controls['email'].valid">
                            <span>Provide a valid email on the unitn.it domain (eg: <i>name.surname@studenti.unitn.it</i>)</span>
                        </div>
                    </div>

                    <div class="form-element">
                        <div class="input-with-confirm">
                            <input type="password" placeholder="Password"
                                   validateEqual="confirmPassword" reverse="true"
                                   [formControl]="signupForm.controls['password']">
                            <div class="validation-confirm" *ngIf="signupForm.controls['password'].valid">
                                <i class="mdi mdi-check mdi-36px"></i>
                            </div>
                        </div>
                        <div class="validation-message"
                             *ngIf="(signupForm.controls['password'].dirty || signupForm.controls['password'].touched) && !signupForm.controls['password'].valid">
                            <span>Password should contain at least one digit and should have at least 6 characters</span>
                        </div>
                    </div>
                    <div class="form-element">
                        <div class="input-with-confirm">
                            <input type="password" placeholder="Retype Password"
                                   validateEqual="password"
                                   [formControl]="signupForm.controls['confirmPassword']">
                            <div class="validation-confirm" *ngIf="signupForm.controls['confirmPassword'].valid">
                                <i class="mdi mdi-check mdi-36px"></i>
                            </div>
                        </div>
                        <div class="validation-message"
                             *ngIf="(signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched) && !signupForm.controls['confirmPassword'].valid">
                            <span>Password mismatch</span>
                        </div>
                    </div>

                    <div class="button-box">
                        <button class="action-btn" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
                    </div>
                </form>
            </div>

            <div *ngIf="success">
                <div class="message-box confirm-email-message-box"
                     [ngClass]="{'positive-message': success, 'negative-message': !success}">
                    <div>
                        <i class="mdi mdi-email-open mdi-48px"></i>
                    </div>
                    <span>Now you will receive an email to confirm and activate your account. Check your inbox.</span>
                </div>
            </div>
        </div>
    </div>
</div>