@import "../../../style/colors.scss";

.input-with-confirm {
  display: flex;
  justify-content: space-between;
}

.validation-confirm {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  color: $green-bg-color;
}

.confirm-email-message-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  text-align: center;
}