@import "../../../style/colors.scss";

$editor-bg: #fafafa;

.auto-height {
  height: auto;
}

.small-padding {
  padding: 0.4rem;
}

.left-bar {
  width: 60px;
}

.left-sidebar {
  width: 30rem;
  height: 100%;
  overflow-y: auto;
  background: $light-grey;
}

.editor-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.editor-header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-height: 112px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  .spacer {
    flex: 1;
  }

  @media screen and (max-width: 1026px) {
    height: 100%;
  }
}

.pdf-editor-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-content {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

.editor-content-page {
  display: flex;
  width: 100%;
  align-items: center;
}

.ec-column {
  flex-direction: column;
}

.ec-center {
  justify-content: center;
}

.pdf-size-text {
  margin-left: 1rem;
}

.left-sidebar-btns {
  background: $light-grey;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  height: 100%;

  .bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: $dark;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    transition: background 0.3s;

    &:hover {
      background: $mid-grey;
    }
  }
}

.btn-active {
  color: $light;
  background: $primary-color;
}

//.left-sidebar {
//  display: none;
//  overflow-y: auto;
//  background: $light-grey;
//  flex-direction: column;
//  align-items: center;
//  width: 0;
//  height: 100%;
//}

.pdf-download-box {
  display: flex;
  flex-direction: column;
  margin: 3rem 2rem;
  align-items: center;
  text-align: center;

  .pdf-download-sub-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .text {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  button {
    height: 2rem;
  }
}

.sidebar-video-box {
  display: flex;
  flex-direction: column;
  margin: 2rem 0.5rem 0.5rem 0.5rem;

  video-toolbar, label, button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  button {
    padding: 1rem;
  }
}

annotation-sidebar {
  width: 100%;
}

.left-sidebar-open {
  display: flex;
  width: 30rem;
}

.pdf-editor-not-visible {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  display: block;
  visibility: hidden;
}

///////////////

.note-bar {
  position: fixed;
  overflow-y: auto;
  right: 1rem;
  width: 17rem;
  height: 100%;
  margin-right: 1rem;
  padding: 0.25rem 1rem 0.25rem 1rem;

  @media screen and (max-width: 1366px) {
    display: none;
  }
}

.note-bar-closed {
  display: none;
}

.pdfViewer {
  width: 75%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

#viewerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: auto;
  position: absolute;
  background: $editor-bg;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  outline: none;
  padding-top: 1.5rem;
}

.vl-loader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  span {
    margin-bottom: 0.2rem;
  }
}

/// Viewer Scroll bar

#viewerContainer::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

#viewerContainer::-webkit-scrollbar-track {
  /*border-radius: 10px;*/
  background: #eeeeee;
}

#viewerContainer::-webkit-scrollbar-corner {
  background: #eeeeee;
}

#viewerContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bdbdbd;
}

#viewerContainer::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #9E9E9E;
}
