.black-icon{
    color: black;
    vertical-align: middle;
}

.selectedVelocity{
    background-color: #c2c2a3
}
.selectedVelocity:hover{
    background-color: #c2c2a3
}
.unselectedVelocity{
    background-color: white
}