<button mat-icon-button>
  <mat-icon class="black-icon" svgIcon="step-rewind"></mat-icon>
</button>
<button mat-icon-button>
  <mat-icon class="black-icon" svgIcon="{{(play) ? 'pause' : 'play-arrow'}}" (click)="playPause()"></mat-icon>
</button>
<button mat-icon-button>
  <mat-icon class="black-icon" svgIcon="step-forward"></mat-icon>
</button>
<!-- Selezione volume -->
<button mat-icon-button>
  <mat-icon class="black-icon" md-menu-origin svgIcon="volume-high"></mat-icon>
</button>
<!-- Menu selezione velocità riproduzione -->
<button mat-icon-button [matMenuTriggerFor]="settingsMenu">
  <mat-icon class="black-icon" svgIcon="settings"></mat-icon>
</button>
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item>1.0 x</button>
  <button mat-menu-item>1.3 x</button>
  <button mat-menu-item>2.0 x</button>
</mat-menu>