@import '~style/variables.scss';

.black-icon{
    color: $color-secondary;
    vertical-align: middle;
}

.selectedVelocity{
    background-color: #c2c2a3
}
.selectedVelocity:hover{
    background-color: #c2c2a3
}
.unselectedVelocity{
    background-color: white
}