<mat-card class="note" [style.background]="note?.data?.color || '#FFCA28'">
  <mat-card-header>
    <mat-card-title>
      <h3>{{note?.data?.title}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <div fxFlex="90%" class="note-readonly">
      <quill-editor [ngModel]="note?.data?.text" readOnly="true" placeholder="">
        <div quill-editor-toolbar></div>
      </quill-editor>
    </div>
    <div fxFlex="10%" fxLayout="column">

      <button mat-icon-button (click)="onDelete()">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>

      <button mat-icon-button (click)="onOpen()">
        <mat-icon svgIcon="open"></mat-icon>
      </button>

    </div>
  </mat-card-content>

</mat-card>
