// TODO remove
//@import "style/colors";
//@import "style/form-style";
@import "style/style";

@import "../node_modules/pdfjs-dist/web/pdf_viewer.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/katex/dist/katex.min.css";

// Edit global variables
$dark-color: #5f5f5f;

$navbar-background: #FFD018;
$navbar-nav-item-height: 56px;
$icon-button-color: $dark-color;
$icon-button-background: #ffffff;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

// Edit uikit components

@mixin hook-button() { border-radius: 30px; }
@mixin hook-button-default() { background: #fafafa; }
@mixin hook-button-default-hover() { background: #eeeeee; }

@import "../node_modules/uikit/src/scss/uikit-theme";
