@import "../../../style/colors.scss";

.rotate-90 {
  width: 36px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.small-width {
  width: 56px;
}

.small-padding {
  padding: 0.3rem;
}

.color-picker-btn-bg {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tool-button-selected {
  background: $primary-color-darker;
  color: white;
}

.cp-hide {
  visibility: hidden;
}

#cp-canvas {
  position: absolute;
  z-index: 999;
  margin-top: 1rem;
  border-radius: 2px;
  border: 0.25rem solid $light;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
