<div class="uk-flex uk-flex-between">

  <div class="uk-flex uk-width-expand media-box" [ngClass]="{'hide': !showSlides}" #slidesBox>
    <div class="uk-card uk-card-default uk-margin-right" *ngFor="let slide of slides; let i = index"
         [slideIndex]="i" [ngClass]="{'current-slide': storeService.getCurrentSlideIndex() == i}"
         (click)="goToSlide(i)">
      <div class="uk-card-media-top">
        <img [src]="slide.thumbnailUrl" [alt]="slide.title">
      </div>
      <div class="uk-card-body">
        <p>{{slide.title}}</p>
      </div>
    </div>
  </div>

  <div class="uk-flex uk-width-expand media-box" [ngClass]="{'hide': showSlides}" #notesBox>
    <note-bar class="uk-width-expand"
              #noteBar [verticalPosition]="false"
              (noteClicked)="highlightTimeline($event)"
              [openInEditMode]="false">
    </note-bar>
  </div>

  <div [ngClass]="{'hide': showSlides}" class="uk-margin-right uk-margin-small-left">
    <a class="uk-icon-button" uk-icon="icon: plus; ratio: 0.85" (click)="newNote()"></a>
  </div>

  <div class="uk-flex uk-flex-column uk-flex-around">
    <div class="uk-padding-small uk-flex-1 uk-flex uk-flex-center uk-flex-middle show-button"
         [ngClass]="{'show-button-active': showSlides}" (click)="showSlides = true">
      <span uk-icon="icon: presentation; ratio: 0.85"></span>
    </div>
    <div class="uk-padding-small uk-flex-1 uk-flex uk-flex-center uk-flex-middle show-button"
         [ngClass]="{'show-button-active': !showSlides}" (click)="showSlides = false">
      <span uk-icon="icon: comment-multiple; ratio: 0.85"></span>
    </div>
  </div>

</div>


<!--<div class="bar">-->
<!--<div class="show-bar" [ngClass]="{'hide': !showSlides}" #slidesBox>-->
<!--<div class="slide"-->
<!--*ngFor="let slide of slides; let i = index"-->
<!--[slideIndex]="i"-->
<!--[ngClass]="{'current-slide': storeService.getCurrentSlideIndex() == i}">-->
<!--<img (click)="goToSlide(i)"-->
<!--[src]="slide.thumbnailUrl" alt="slide.title">-->
<!--<span>{{slide.title}}</span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="show-bar" [ngClass]="{'hide': showSlides}" #notesBox>-->
<!--<note-bar #noteBar [verticalPosition]="false"-->
<!--(noteClicked)="highlightTimeline($event)"-->
<!--[openInEditMode]="false"></note-bar>-->
<!--</div>-->

<!--<div class="action-bar" [ngClass]="{'hide': showSlides}">-->
<!--<button class="circular-button new-note-btn" (click)="newNote()">-->
<!--<i class="mdi mdi-18px mdi-plus"></i>-->
<!--</button>-->
<!--</div>-->

<!--<div>-->
<!--<div class="switch" (click)="showSlides = !showSlides">-->
<!--<div class="slider"-->
<!--[ngClass]="{'off': !showSlides}"></div>-->
<!--<div class="icons">-->
<!--<i class="mdi mdi-presentation mdi-24px"-->
<!--[ngClass]="{'color-dark': !showSlides}"></i>-->
<!--<i class="mdi mdi-comment-multiple-outline mdi-24px"-->
<!--[ngClass]="{'color-dark': showSlides}"></i>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<note-editor
  *ngFor="let uuid of openNotes.openNotesUuid | async;let i = index"
  [noteUuid]="uuid"
  [notePage]="openNotes.openNotesPageNumber[i]"
  [editMode]="openNotes.openNotesEditMode[i]">
</note-editor>
