<div style="z-index:0" class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="1em" fxLayoutGap.xs="0.2em">

  <div *ngIf="hasCamVideo" class="content margin-left" [style.width]='screenSize' [style.height]='screenHeight'>
    <video-box [videoUrl]='camVideoUrl | async'></video-box>
  </div>
  <div class="content" [style.width]='screenSize' [style.height]='screenHeight'>
    <video-box [videoUrl]='pcVideoUrl | async' [isMaster]="true"></video-box>
  </div>

  <div *ngIf="hasAnnotations" class="content" [style.width]='screenSize' [style.height]='screenHeight'>
    <note-box></note-box>
  </div>
</div>