<div (window:resize)="calculateAspectRatio()" class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center center"
  fxLayoutGap="1em" fxLayoutGap.xs="0.2em">

  <div  class="content margin-left" [style.width]='streamWidth'>
    <video-box [videoUrl]='camVideoUrl | async'></video-box>
  </div>
  <div *ngIf="hasPcVideo" class="content" [style.width]='streamWidth'>
    <video-box [videoUrl]='pcVideoUrl | async' [isMaster]="true" [style.width]='streamWidth'></video-box>
  </div>

  <div *ngIf="hasAnnotations" class="content" [style.width]='streamWidth'>
    <note-box></note-box>
  </div>
</div>