
.container {
    width: 97vw;
    margin-left: 0;
    z-index:0
}

.content{
    position:relative
}

.margin-left{
    margin-left: 1.5vw;
}

@media only screen and (max-width: 600px) {
    .content  {
        width:100vw !important;
        height: 63vw !important;
    }
}
