<div>

  <md-card *ngIf="currentPage == 0">
    <md-card-title>Login</md-card-title>
    <md-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)">
        <div *ngIf="errorLogin$ | async">
          <l3-error-message [error]="errorLogin$ | async" [messages]="loginErrMsgs"></l3-error-message>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <!--TODO icon-->
            <input type="email" mdInput placeholder="Email" [formControl]="loginForm.controls['email']">
            <md-error></md-error>
            <!--TODO Error-->
          </md-input-container>

          <md-input-container>
            <!--TODO icon-->
            <input type="password" mdInput placeholder="Password" [formControl]="loginForm.controls['password']">
            <md-error></md-error>
            <!--TODO Error-->
          </md-input-container>

          <button type="submit" md-button [disabled]="!loginForm.valid" fxFlexAlign="end">
              <span>Login</span>
              <md-icon svgIcon="send"></md-icon>
          </button>
        </div>
      </form>

      <hr>

      <div fxLayout="column">
        <a (click)="showPage(1)">Password forgot? Click here</a>
        <a (click)="showPage(2)">Account Confirmation email not received? Click here</a>
      </div>
      <hr>
      <div>
        <a (click)="goToSignUp()"><b>Don't have an account yet? Click here</b></a>
      </div>

    </md-card-content>
  </md-card>

  <md-card *ngIf="currentPage == 1">
    <md-card-content>
      <div (click)="showPage(0)">
        <a fxLayout fxLayoutAlign="center center">
          <md-icon svgIcon="chevron-left"></md-icon>
          <span>Go to login</span>
        </a>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="doPasswordForgot(loginForm.value)">
        <div *ngIf="errorPasswordForgot$ | async">
          <div [ngSwitch]="(errorPasswordForgot$ | async).status">
            <div *ngSwitchCase="400 || 404">
              <span>It seems that this email is not registered. Are you sure you have insert the right email?</span>
            </div>
            <div *ngSwitchDefault>
              <span>Something goes wrong... please retry.</span>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <!--TODO icon-->
            <input type="email" mdInput placeholder="Email" [formControl]="loginForm.controls['email']">
            <md-error></md-error>
            <!--TODO Error-->
          </md-input-container>

          <button type="submit" md-button [disabled]="!loginForm.controls['email'].valid" fxFlexAlign="end">
              <span>Recover password</span>
          </button>
        </div>
      </form>

      <div *ngIf="passwordForgotSuccess$ | async">
        <span>Good. Now you will receive an email with the instructions about how recover your password.</span>
      </div>
    </md-card-content>
  </md-card>

  <md-card *ngIf="currentPage == 2">

    <md-card-content>
      <div (click)="showPage(0)">
        <a fxLayout fxLayoutAlign="center center">
          <md-icon svgIcon="chevron-left"></md-icon>
          <span>Go to login</span>
        </a>
      </div>



      <form [formGroup]="loginForm" (ngSubmit)="doEmailConfirm(loginForm.value)">
        <div *ngIf="errorNewConfirmationCode$ | async">
          <div [ngSwitch]="(errorNewConfirmationCode$ | async).status">
            <div *ngSwitchCase="400 || 404">
              <span>It seems that this email is not registered. Are you sure you have insert the right email?</span>
            </div>
            <div *ngSwitchDefault>
              <span>Something goes wrong... please retry.</span>
            </div>
          </div>
        </div>

        <div fxLayout="column">
          <md-input-container>
            <!--TODO icon-->
            <input type="email" mdInput placeholder="Email" [formControl]="loginForm.controls['email']">
            <md-error></md-error>
            <!--TODO Error-->
          </md-input-container>

          <button type="submit" md-button [disabled]="!loginForm.controls['email'].valid" fxFlexAlign="end">
              <span>Request account confirm link</span>
          </button>
        </div>
      </form>

      <div *ngIf="newConfirmationCodeSuccess$ | async">
        <span>Now you will receive an email a confirmation link and more instructions.
            If you don\'t receive any mail,  please check the spam box.</span>
      </div>

    </md-card-content>

  </md-card>

</div>
<!--
<div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">

    <div *ngIf="currentPage == 0">
      <h1 class="uk-card-title uk-text-center">Login</h1>
      <div class="uk-flex uk-flex-column uk-flex-around uk-flex-stretch">
        <form [formGroup]="loginForm" (ngSubmit)="doLogin(loginForm.value)" class="uk-flex uk-flex-column">
          <div *ngIf="message" class="uk-text-center" [ngClass]="{'uk-text-success': success, 'uk-text-danger': !success}">
            <span>{{message}}</span>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: user; ratio: 0.85"></span>
              <input type="email" class="uk-input uk-flex-1" placeholder="Email" [ngClass]="{'uk-form-danger': (loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && !loginForm.controls['email'].valid}"
                [formControl]="loginForm.controls['email']">
            </div>
            <div class="uk-text-danger" *ngIf="(loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && !loginForm.controls['email'].valid">
              <span>Email required</span>
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon" uk-icon="icon: lock; ratio: 0.85"></span>
              <input type="password" class="uk-input" placeholder="Password" [ngClass]="{'uk-form-danger': (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && !loginForm.controls['password'].valid}"
                [formControl]="loginForm.controls['password']">
            </div>
            <div class="uk-text-danger" *ngIf="(loginForm.controls['password'].dirty || loginForm.controls['password'].touched) && !loginForm.controls['password'].valid">
              <span>Password required</span>
            </div>
          </div>
          <div class="uk-flex uk-flex-right">
            <button type="submit" class="uk-button uk-button-primary" [disabled]="!loginForm.valid">
              <span>Login</span>
              <span uk-icon="icon: chevron-right; ratio: 0.85"></span>
            </button>
          </div>
        </form>

        <hr>

        <div class="uk-flex uk-flex-column uk-flex-top">
          <button class="uk-button uk-button-link" (click)="showPage(1)">Password forgot? Click here</button>
          <button class="uk-button uk-button-link" (click)="showPage(2)">Account Confirmation email not received? Click
            here
          </button>
        </div>
        <hr>
        <div class="uk-flex uk-flex-column uk-flex-top">
          <button class="uk-button uk-button-link" (click)="goToSignUp()"><b>Don't have an account yet? Click here</b>
          </button>
        </div>

      </div>
    </div>

    <div *ngIf="currentPage == 1">

      <div class="uk-flex">
        <button class="uk-button uk-button-default" (click)="showPage(0)">
          <span uk-icon="icon: chevron-left; ratio: 0.85"></span>
          <span>Go to login</span>
        </button>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="doPasswordForgot(loginForm.value)" class="uk-flex uk-flex-column uk-margin-top">
        <div class="uk-margin">
          <label class="uk-form-label" for="lost-password-mail">Insert your registered email address</label>
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: mail; ratio: 0.85"></span>
            <input id="lost-password-mail" type="email" class="uk-input uk-flex-1" placeholder="Email" [formControl]="loginForm.controls['email']">
          </div>
          <div class="uk-text-danger" *ngIf="(loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && !loginForm.controls['email'].valid">
            <span>Email required</span>
          </div>
        </div>

        <div class="uk-margin uk-flex uk-flex-right">
          <button type="submit" class="uk-button uk-button-primary" [disabled]="!loginForm.controls['email'].valid" type="submit">
            <span>Recover password</span>
          </button>
        </div>
      </form>
      <div *ngIf="message" class="uk-text-center" [ngClass]="{'uk-text-success': success, 'uk-text-danger': !success}">
        <span>{{message}}</span>
      </div>
    </div>

    <div *ngIf="currentPage == 2">
      <div class="uk-flex">
        <button class="uk-button uk-button-default" (click)="showPage(0)">
          <span uk-icon="icon: chevron-left; ratio: 0.85"></span>
          <span>Go to login</span>
        </button>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="doEmailConfirm(loginForm.value)" class="uk-flex uk-flex-column uk-margin-top">
        <div class="uk-margin">
          <label class="uk-form-label" for="confirm-mail">Insert the email address</label>
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: mail; ratio: 0.85"></span>
            <input id="confirm-mail" type="email" class="uk-input uk-flex-1" placeholder="Email" [formControl]="loginForm.controls['email']">
          </div>
          <div class="uk-text-danger" *ngIf="(loginForm.controls['email'].dirty || loginForm.controls['email'].touched) && !loginForm.controls['email'].valid">
            <span>Email required</span>
          </div>
        </div>
        <div class="uk-margin uk-flex uk-flex-right">
          <button type="submit" class="uk-button uk-button-primary" [disabled]="!loginForm.controls['email'].valid" type="submit">
            <span>Request account confirm link</span>
          </button>
        </div>
      </form>
      <div *ngIf="message" class="uk-text-center" [ngClass]="{'uk-text-success': success, 'uk-text-danger': !success}">
        <span>{{message}}</span>
      </div>
    </div>
  </div>
</div>-->
