@import "../../../style/colors.scss";

$window-bg: $light;

.note-window {
  /*  position: fixed;
    top: 100px;
    left: 100px; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid $primary-color;
  /* min-height: 300px;
  min-width: 500px;
  */
  background: $window-bg;
  padding: 0.5rem;
  z-index: 999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.header-bar > .title-box {
  padding: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-editor {
  display: flex;
  height: 100%;
}

@-moz-document url-prefix() {
  .content {
    height: 81% !important;
  }
}

.resize-handler {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent $primary-color transparent;
}

.first-btn {
  margin-left: 1rem;
}

input[type="text"] {
  flex: 1;
  background: $window-bg;
  border-radius: 0;
  padding: 0.2rem;
  font-size: 1.1rem;
}

/*
quill
*/

button {
  margin: 0;
}

.hide-toolbar {
  display: none;
}

.quill-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*.ql-container {
  display: flex;

  .ql-editor {
    display: flex;
    width: 100%;
    height: auto !important;
  }
}*/

