.screenshotContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .screenshotContainer  {
        width:100vw !important;
    }
}