<div fxLayout="column">
    <div #noteBox>
        <svg id="canvas" class='screenshotContainer' viewBox="0 0 1920 1080" #SVGCanvas></svg>
        <img id="image" class='screenshotContainer' [src]="(currentSlide === undefined || currentSlide?.img === 'blank') ? 'assets/blank.png' : ('data:image/png;base64,' + currentSlide?.img)">
    </div>
    <div *ngIf="allowFullscreen">
        <button id="fullscreenButton" mat-raised-button (click)="goFullscreen() ">
            Go Fullscreen
            <mat-icon svgIcon="expand"></mat-icon>
        </button>
    </div>
</div>