<div class="box">
    <div *ngIf="!success" class="form-page">
        <h3>Reset your password</h3>

        <div *ngIf="code">
            <form (ngSubmit)="resetPassword(form.value)">
                <div class="form-element">
                    <input type="password" placeholder="New Password"
                           validateEqual="confirmPassword" reverse="true"
                           [formControl]="form.controls['password']">
                    <div class="validation-message"
                         *ngIf="(form.controls['password'].dirty || form.controls['password'].touched) && !form.controls['password'].valid">
                        <span>Password should contain at least one digit and should have at least 6 characters</span>
                    </div>
                </div>
                <div class="form-element">
                    <input type="password" placeholder="Retype New Password"
                           validateEqual="password"
                           [formControl]="form.controls['confirmPassword']">
                    <div class="validation-message"
                         *ngIf="(form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched) && !form.controls['confirmPassword'].valid">
                        <span>Password should contain at least one digit and should have at least 6 characters</span>
                    </div>
                </div>
                <div class="button-box">
                    <button type="submit" [disabled]="!form.valid">Reset Password</button>
                </div>
            </form>

            <div *ngIf="message" class="message-box"
                 [ngClass]="{'positive-message': success, 'negative-message': !success}">
                <span>{{message}}</span>
            </div>
        </div>

        <div *ngIf="!code">
            <div class="message-box negative-message">
                <div><i class="mdi mdi-lock mdi-48px"></i></div>
                <div><span>No code has been provided. Please, check the url.</span></div>
            </div>
        </div>
    </div>
    <div *ngIf="success" class="form-page">
        <div class="message-box positive-message">
            <div><i class="mdi mdi-lock mdi-48px"></i></div>
            <div><span>Password has been changed. Now you can login.</span></div>
        </div>
    </div>
</div>