<div class="uk-flex uk-flex-center uk-flex-middle uk-height-1-1">
  <div class="uk-card uk-card-default uk-card-body uk-width-1-3@m">

    <h1 class="uk-card-title uk-text-center">Reset your password</h1>

    <div *ngIf="code" class="uk-flex uk-flex-column uk-flex-around uk-flex-stretch">
      <form (ngSubmit)="resetPassword(form.value)" class="uk-flex uk-flex-column">

        <div class="uk-margin">
          <label class="uk-form-label" for="password1">Insert new password</label>
          <div class="uk-width-1-1">
            <input id="password1" class="uk-input uk-flex-1"
                   type="password" placeholder="New Password"
                   validateEqual="confirmPassword" reverse="true"
                   [formControl]="form.controls['password']"
                   [ngClass]="{
                   'uk-form-success': form.controls['password'].valid,
                   'uk-form-danger':(form.controls['password'].dirty || form.controls['password'].touched) && !form.controls['password'].valid
                  }">
          </div>
          <div class="uk-text-danger"
               *ngIf="(form.controls['password'].dirty || form.controls['password'].touched) && !form.controls['password'].valid">
            <span>Password should contain at least one digit and should have at least 6 characters</span>
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label" for="password2">Retype new password</label>
          <div class="uk-width-1-1">
            <input id="password2" class="uk-input uk-flex-1"
                   type="password" placeholder="Retype New Password"
                   validateEqual="password"
                   [formControl]="form.controls['confirmPassword']"
                   [ngClass]="{
                   'uk-form-success': form.controls['confirmPassword'].valid,
                   'uk-form-danger':(form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched) && !form.controls['confirmPassword'].valid
                  }">
          </div>
          <div class="uk-text-danger"
               *ngIf="(form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched) && !form.controls['confirmPassword'].valid">
            <span>Password should contain at least one digit and should have at least 6 characters</span>
          </div>
        </div>

        <div class="uk-flex uk-flex-center">
          <button type="submit" class="uk-button uk-button-primary" [disabled]="!form.valid">
            <span>Reset Password</span>
          </button>
        </div>
      </form>
      <div *ngIf="message" class="uk-text-center uk-margin-top"
           [ngClass]="{'uk-text-success': success, 'uk-text-danger': !success}">
        <span>{{message}}</span>
      </div>
    </div>

    <div *ngIf="!code" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center uk-text-danger">
      <b class="uk-margin-top">No code has been provided. Please, check the url.</b>
    </div>

    <div *ngIf="success" class="uk-flex uk-flex-column uk-flex-center uk-flex-middle uk-text-center uk-text-success">
      <span uk-icon="icon: lock; ratio: 3.5"></span>
      <b class="uk-margin-top">Password has been changed. Now you can login.</b>
    </div>

  </div>
</div>
