@import "../../../style/colors.scss";

.link-box {
  padding: 1rem;
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
}

a {
  color: $dark;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;

  &:hover {
    color: $mid-grey;
  }
}

.space-bottom {
  margin-bottom: 1rem;
}

.space-bar {
  width: 80%;
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
}

.sign-up-box {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: $primary-color;
  color: white;
  padding: 1.5rem;

  a {
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
  }
}