<div fxLayoutAlign="center center">
  <md-list fxFlex.lt-md="auto" fxFlex.md="80%" fxFlex.gt-md="40%">

    <h3 md-subheader>Live Lectures</h3>

    <md-expansion-panel *ngFor="let lecture of liveLectures$ | async" class="lecture-card">

      <md-expansion-panel-header>
        <md-panel-title>
          <md-icon svgIcon="rec" color="warn"></md-icon>
          <span class="mat-body-2">{{lecture.name}}</span>
        </md-panel-title>
        <md-panel-description>
          <span *ngIf="lecture.course">{{lecture.course}}</span>
        </md-panel-description>
      </md-expansion-panel-header>

      <div fxLayout="column">
        <span class="mat-caption">Id: {{lecture.uuid}}</span>

        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayoutAlign="center center">
            <b class="mat-body-2">PIN</b>
            <md-form-field fxFlexOffset="12px">
              <input mdInput [(ngModel)]="pin">
            </md-form-field>
            <button md-icon-button (click)="goToLiveLecture(lecture)">
              <md-icon svgIcon="chevron-right"></md-icon>
            </button>
          </div>
          <md-error *ngIf="invalidPin">Invalid PIN!</md-error>
        </div>

      </div>
    </md-expansion-panel>

    <md-divider></md-divider>

    <h3 md-subheader>Your lectures</h3>
    <md-card *ngFor="let lecture of lectures$ | async" class="lecture-card" (click)="goToLecture(lecture)">
      <md-card-header fxLayout>
        <md-icon svgIcon="book-open"></md-icon>
        <span class="mat-body-2" fxFlexOffset="12px">{{lecture.name}}</span>
      </md-card-header>
      <md-card-content fxLayout="column" class="lecture-item-content">
        <span class="mat-caption">Id: {{lecture.uuid}}</span>
        <span class="mat-caption">Course: {{lecture.course}}</span>
      </md-card-content>
    </md-card>
  </md-list>
</div>
