<div fxLayout="column" style="z-index:0">
    <div>
        <div *ngIf="loadingVideo" class="loading-container">
            <h3 class="loading-text">Please wait. Loading data.</h3>
        </div>
        <video [ngStyle]="{'display': loadingVideo ? 'none' : 'block'}" controls="controls" #videoElement (loadeddata)="startVideoListening()"
            (timeupdate)="setCurrentTime()" [src]="videoUrl" type="video/mp4"></video>
    </div>
    <div *ngIf="allowFullscreen && !loadingVideo">
        <button mat-raised-button id="fullscreenButton" (click)="goFullscreen()">
            Go Fullscreen
            <mat-icon svgIcon="expand"></mat-icon>
        </button>
    </div>
</div>