<div fxLayout="column">
    <div>
        <div *ngIf="loadingVideo" class="loading-container">
            <h3 class="loading-text">Please wait. Loading data.</h3>
        </div>
        <video #videoElement (loadeddata)="startVideoListening()" (timeupdate)="setCurrentTime()" [src]="videoUrl" type="video/mp4"></video>
    </div>
    <div *ngIf="allowFullscreen && !loadingVideo" style="margin-top:58%;">
        <button mat-raised-button id="fullscreenButton" (click)="goFullscreen()">
            Go Fullscreen
            <mat-icon svgIcon="expand"></mat-icon>
        </button>
    </div>
</div>