@import "../../../style/colors.scss";

.padding-xsmall {
  padding: 0.5rem;
}

.note-card {
  background: $bg-note;
  max-height: 165px;

  h4 {
    margin-bottom: 10px;
  }
}

.note-card-highlight {
  background: $bg-note-highlight;
  transition: 0.3s;

  &:hover {
    background: $bg-note-highlight;
  }
}

.note-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 0.5rem;
  justify-content: space-between;
  overflow: hidden;
}

.note-text {
  width: 100%;
}

.note-action {
  display: flex;
  flex-direction: column;
}

.circular-btn-note {
  margin: 0 0 0.3rem;
  width: 24px;
  height: 24px;
}

.empty-note-text {
  color: #bdbdbd;
  font-style: italic;
}

.quill-read-only-content {
  width: 100%;
  height: 100%;
}
