<div class="box box-center">
    <div *ngIf="!complete">
        <div class="loader"></div>
    </div>

    <div class="confirm-msg" *ngIf="complete && !error">
        <div>
            <span class="pos-msg">Great! Account has been confirmed. Now you can perform login.</span>
        </div>
        <button class="login-btn" (click)="goToLogin()">Login <i class="mdi mdi-arrow-right"></i></button>
    </div>

    <div class="confirm-msg" *ngIf="complete && error">
        <div>
            <span>{{errMsg}}</span>
        </div>
    </div>

</div>