$primary-color: #FFD018;
$primary-color-darker: #F9A825;
$button-color: #E0E0E0;
$input-color: #E0E0E0;

$light: #fafafa;
$dark: #3F3F3F;
$light-grey: #EEEEEE;
$mid-grey: #E0E0E0;
$grey: #BDBDBD;

/* FORM */
$green-bg-color: #4CAF50;
$red-bg-color: #FF5722;

$azure: rgb(5, 168, 255);

$bg-note: #FFF59D;
$bg-note-highlight: #F5A533;

$azure-2: #2F61AF;
$orange-2: #F79433;

$light-1: #F3F3F6;
$light-2: #E6E6ED;
$light-3: #E1E0E4;
