@import "colors.scss";

.pdfViewer {
  .page {
    border: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1rem !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  }
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
}

.lower-canvas {
  position: absolute !important;
  top: 0;
  left: 0;
}

.ql-container {
  display: flex;

  .ql-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto !important;
  }

  .ql-editor[contenteditable="false"] {
    border-top: 1px solid #ccc !important;
  }
}


@-moz-document url-prefix() {
  .ql-container {
    height: 73% !important;
  }
}

.note-text {

  .ql-editor {
    overflow: hidden;
  }

  .ql-editor[contenteditable="false"] {
    border-top: 0 !important;
  }
}

.horizontal-bar {
  .note-card {
    max-height: 85% !important;
  }
}

/* Lower-Right Message/Video boxes */
.mini-box-container {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mini-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  max-width: 30rem;
  max-height: 10rem;
  z-index: 99;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.mini-video-box {
  height: 10rem;
  padding: 0.25rem;
  video-box {
    height: 100%;
  }
}

.mini-box-hidden {
  visibility: hidden;
}

.error-box {
  background: $red-bg-color;
  color: white;
}

/* Scroll Bar */

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.75rem;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eeeeee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bdbdbd;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #9E9E9E;
}

//////////////////

.extended {
  display: flex;
  justify-content: center;
  width: 100%;
}

.extended-column {
  display: flex;
  align-items: center;
  width: 100%;
}

.spacer {
  flex: 1;
}

///////////////

.select {
  padding: 0.5rem;
  background: white;
  border-radius: 2px;
  border: 1px solid $light-grey;
  outline: none;
}
