<div class="uk-flex uk-flex-between">

  <div class="uk-flex">
    <div class="uk-margin-small-right">
      <a *ngIf="htmlVideoElement && htmlVideoElement.paused" class="uk-icon-button" uk-icon="icon: play"
         (click)="playPause()"></a>
      <a *ngIf="htmlVideoElement && !htmlVideoElement.paused" class="uk-icon-button" uk-icon="icon: pause"
         (click)="playPause()"></a>
    </div>
    <div class="uk-margin-small-right">
      <a *ngIf="htmlVideoElement && htmlVideoElement.muted" class="uk-icon-button" uk-icon="icon: volume-off"
         (click)="mute()"></a>
      <a *ngIf="htmlVideoElement && !htmlVideoElement.muted" class="uk-icon-button" uk-icon="icon: volume-high"
         (click)="mute()"></a>
    </div>
  </div>

  <div class="uk-flex">
    <div class="uk-flex uk-flex-center uk-flex-middle uk-margin-small-right">
      <span *ngIf="htmlVideoElement">{{htmlVideoElement.currentTime | secToTime}}</span>
      <span *ngIf="htmlVideoElement">&nbsp;-&nbsp;</span>
      <span *ngIf="htmlVideoElement">{{htmlVideoElement.duration | secToTime}}</span>
    </div>

    <a class="uk-icon-button uk-margin-small-right" uk-icon="icon: expand" (click)="fullscreen()"></a>

    <select *ngIf="htmlVideoElement" [(ngModel)]="htmlVideoElement.playbackRate" class="uk-select uk-form-width-xsmall">
      <option *ngFor="let rate of RATE_VALUES" [ngValue]="rate.value">
        {{rate.name}}
      </option>
    </select>
  </div>
</div>
