<div fxLayout="row" fxLayoutAlign="center center">
  <span class="time mat-body-1">
    {{ currentTime | secondsToTime}}
  </span>
  <div fxLayout="column">
    <div class="progress-bar" #progressBar (mouseup)="timebarMouseUp($event)" (mousemove)="timebarMouseMove($event)" (mousedown)="timebarMouseDown($event)">
      <span class="viewed-bar" #viewedBar></span>
    </div>
    <div *ngIf="hasAnnotations" fxLayout="row" class="markerRow">
      <mat-icon class="marker" *ngFor="let slide of slides$ | async" (click)="setTimeMarker(slide)" [style.margin-left]="markerPosition(slide)"
        svgIcon="marker"></mat-icon>
    </div>
  </div>
  <span class="time mat-body-1">
    -{{totalTime - currentTime | secondsToTime}}
  </span>
</div>