$barWidth: 65vw;
$barHeight: 4vh;

.progress-bar {
	width: $barWidth;
	height: $barHeight;
	position:relative;
	background: rgba(0,0,0,0.4);
	box-shadow: 0 1px 0 rgba(255,255,255,0.1), inset 0 1px 1px rgba(0,0,0,1);
}

.progress-bar span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
}

.viewed-bar{
	z-index:10;
	width:0%;
	background: #2673E7;
}

.markerRow{
	position: relative;
	width: $barWidth;
	margin-left: -0.6em;
}

.time {
	margin-right: 0.8em;
	margin-left: 0.8em;
	color: black !important;
}

.marker {
	position: absolute;
	cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .progress-bar{
		width: 75vw !important;
	}
	.markerRow{
		width: 75vw !important;
	}
}

@media only screen and (max-width: 1000px) {
    .progress-bar{
		width: 50vw;
	}
	.markerRow{
		width: 50vw;
	}
}
