<div fxLayout="row" fxLayoutAlign="center center">
  <div class="time">
    {{ currentTime | secondsToTime}}
  </div>
  <div fxLayout="column">
    <div class="progress-bar" #progressBar (click)="setTimeOnClick($event)">
      <span class="viewed-bar" #viewedBar></span>
    </div>
    <div fxLayout="row" class="markerRow">
      <mat-icon class="marker" *ngFor="let slide of slides$ | async" (click)="setTimeMarker(slide)" [style.margin-left]="markerPosition(slide)"
        svgIcon="marker"></mat-icon>
    </div>
  </div>
  <div class="time">
    -{{totalTime - currentTime | secondsToTime}}
  </div>
</div>