// @import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./variables.scss";
html,
body,
main {
    margin: 0;
    height: 100%;
}

// Material Theme
@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$l3-app-primary: mat-palette($mat-yellow, A700);
$l3-app-accent: mat-palette($mat-blue, 600, 500, 500);
// Create the theme object (a Sass map containing all of the palettes).
$l3-app-theme: mat-light-theme($l3-app-primary, $l3-app-accent);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($l3-app-theme);
// extra
mat-spinner {
    width: 24px !important;
    height: 24px !important;
    svg {
        width: 24px !important;
        height: 24px !important;
    }
}

// note placeholder
.note-placeholder {
    cursor: pointer; // fill: #FFCA28;
    // stroke: #FFC107;
    stroke-width: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.note-readonly {
    & .ql-toolbar {
        display: none;
    }
    & .ql-editor {
        overflow: hidden;
    }
    & .ql-container {
        border: 0 !important;
    }
}

.bbox {
    fill: transparent;
    stroke: #B3E5FC;
    stroke-width: 2px;
}
