@import '~@angular/material/theming';
@import './styles.scss';


// Create your Sass color vars (will be available in all the project)
$color-primary: mat-color($l3-app-primary);
$color-accent: mat-color($l3-app-accent);
$color-secondary: $l3-app-secondary;
$color-error: $l3-app-error;
$color-success: $l3-app-success;
$color-light: $l3-app-light;

