<div l3FxFullHeight>
    <div layout="row">
        <div fxLayoutAlign="center center">
            <table style='width:80%' align='center'>
                <tr>
                    <td>
                        <video-box [videoUrl]='videoUrl'></video-box>
                    </td>
                    <td>
                        <video-box [videoUrl]='videoUrl'></video-box>
                    </td>
                    <td width="33%">
                        <img src='https://dummyimage.com/384x216/000/fff'>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
    <div layout="row" style='margin-top:-0.5em'>
        <mat-toolbar color="primary">
            <controls></controls>
            <timeline></timeline>
        </mat-toolbar>
    </div>
</div>