<div fxLayout fxLayoutAlign="center center" fxFlexFill>

    <mat-card fxFlex.lt-md="auto" fxFlex.md="60%" fxFlex.gt-md="40%" class="card">
      <mat-card-title>Reset password</mat-card-title>

      <ng-container *ngIf="resetSuccess$ | async; else resetFormTmpl">
        <mat-card-content fxLayout="column" class="success-box">
          <p class="mat-body-1">Password reset successfully! Now you can login with the new credentials.</p>
        </mat-card-content>
      </ng-container>

      <ng-template #resetFormTmpl>
        <mat-card-content fxLayout="column">
          <form [formGroup]="form" (ngSubmit)="doReset(form.value)" fxLayout="column">
            <div *ngIf="errorReset$ | async">
              <l3-error-message [error]="errorReset$ | async" [messages]="errMsgs"></l3-error-message>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill fxFlexOffeset="24px">

              <mat-form-field class="input-field">
                <mat-icon matPrefix svgIcon="lock" class="prefix-icon"></mat-icon>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="form.get('password').getError('required')">
                  Password is required
                </mat-error>
                <mat-error *ngIf="form.get('password').getError('minlength')">
                  Password must have at least 6 characters
                </mat-error>
                <mat-error *ngIf="form.get('password').getError('password')">
                  Password must contain at least a digit
                </mat-error>
                <mat-error *ngIf="form.get('password').getError('passwordmismatch')">
                  Passwords does not match
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-field">
                <mat-icon matPrefix svgIcon="lock" class="prefix-icon"></mat-icon>
                <input type="password" matInput placeholder="Retype Password" formControlName="password_retype">
                <mat-error *ngIf="form.get('password_retype').getError('required')">
                  Password is required. Retype it.
                </mat-error>
                <mat-error *ngIf="form.get('password_retype').getError('minlength')">
                  Password must have at least 6 characters
                </mat-error>
                <mat-error *ngIf="form.get('password_retype').getError('passwordmismatch')">
                  Passwords does not match
                </mat-error>

              </mat-form-field>

              <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid" fxFlexAlign="end">
                    <span>Reset</span>
                    <mat-icon svgIcon="chevron-right"></mat-icon>
              </button>
              <mat-spinner *ngIf="loadingReset$ | async"></mat-spinner>
            </div>
          </form>
        </mat-card-content>
      </ng-template>

    </mat-card>

  </div>
