<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <!--TODO icon-->
    <a routerLink="/" class="uk-navbar-item uk-logo" href="#">Annotations</a>
  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item" *ngIf="!userData.email">
      <button class="uk-button uk-button-default uk-visible@s" routerLink="/user/signup">Sign Up</button>
      <a routerLink="/user/signup" class="uk-icon-button uk-hidden@s" uk-icon="icon: plus-circle; ratio: 0.85"></a>
    </div>
    <div class="uk-navbar-item" *ngIf="!userData.email">
      <button class="uk-button uk-button-primary uk-visible@s" routerLink="/user/login">
        <span>Login</span>
        <span uk-icon="icon: sign-in; ratio: 0.85"></span>
      </button>
      <a routerLink="/user/login" class="uk-icon-button uk-hidden@s" uk-icon="icon: sign-in; ratio: 0.85"></a>
    </div>

    <div class="uk-navbar-item uk-grid-small" uk-grid *ngIf="userData.email">
      <span uk-icon="icon: user; ratio: 0.85"></span>
      <span class="user-email">{{userData.email}}</span>
    </div>
    <div class="uk-navbar-item" *ngIf="userData.email">
      <button class="uk-button uk-button-default uk-visible@s" (click)="doLogout()">
        <span>Logout</span>
        <span uk-icon="icon: sign-out; ratio: 0.85"></span>
      </button>
      <a class="uk-icon-button uk-hidden@s" uk-icon="icon: sign-out; ratio: 0.85" (click)="doLogout()"></a>
    </div>
  </div>
</nav>
<main uk-height-viewport="expand: true">
  <router-outlet>
    <div *ngIf="loading" class="main-loader-box loader-center">
      <div uk-spinner></div>
    </div>
  </router-outlet>
</main>
