<div class="vl-main-box">
    <div class="vl-upper-box">
        <div class="vl-container">
            <div class="vl-box">
                <video-box [videoUrl]="videoUrl" class="vl-elem"
                           (videoHtmlElement)="onHtmlVideoElementReady($event)"></video-box>
                <video-toolbar class="all-width"
                               [htmlVideoElement]="storeService.htmlVideoElement | async"></video-toolbar>
            </div>
        </div>
        <div class="vl-container">
            <div class="vl-box">
                <slide-viewer class="vl-elem"></slide-viewer>
                <div class="viewer-toolbar all-width">
                    <viewer-toolbar [currentPage]="storeService.currentSlide | async"
                                    [totalPages]="storeService.getSlideTotalPages()"
                                    (pageSelected)="changeSlide($event)">
                    </viewer-toolbar>
                    <button class="go-to-editor-btn" (click)="goToEditor()">Go to editor
                        <i class="mdi mdi-lead-pencil"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="vl-middle-box">
        <div class="vl-timeline-box">
            <timeline [highlightedNote]="timelineHighlightedNote">
            </timeline>
        </div>
    </div>
    <div class="vl-lower-box">
        <slide-note-bar (highlightNoteRequest)="highlightTimelineNote($event)"></slide-note-bar>
    </div>

</div>
<div class="mini-box-container">
    <div class="mini-box error-box" *ngIf="am.errorMessage">
        <i class="mdi mdi-24px mdi-exclamation"></i>
        <span>&nbsp;{{am.errorMessage}}</span>
    </div>
</div>