<div fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="5em">
    <div class="thumbnail" #firstThumb (click)="changeFirstThumb()">
      <video-box [videoUrl]='pcVideoUrl | async'></video-box>
    </div>
    <div *ngIf="hasAnnotations" class="thumbnail" #secondThumb (click)="changeSecondThumb()">
      <note-box></note-box>
    </div>
  </div>
  <div class="content" #mainView>
    <video-box [videoUrl]='camVideoUrl | async' [isMaster]="true"></video-box>
  </div>
</div>