.content{
    position: relative;
    width: 131.5vh;
    height: 85vh;
}

.thumbnail{
    position: relative;
    width: 48vh;
    height: 27vh;
    cursor: pointer;
    border: 2px solid black;
}


#rotateButton{
    width:100%; 
    background-color: #d1d1d1
}

#rotateButton:hover{
    background-color: #b5b5b5
}