<div fxLayout="row" fxLayoutGap="2em" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutGap="2vw">
    <div id="firstThumb" class="thumbnail" #firstThumb (click)="changeThumb(1)">
      <video-box id="camVideo" [allowFullscreen]="currentMainView === 'camVideo'" [videoUrl]='camVideoUrl | async' [isMaster]="true"></video-box>
    </div>
    <button id="rotateButton" mat-raised-button (click)="rotateRight() ">
      Rotate views
      <mat-icon svgIcon="rotate-right"></mat-icon>
    </button>
    <div class="thumbnail" #secondThumb (click)="changeThumb(2)">
      <note-box id="notes" [allowFullscreen]="currentMainView === 'notes'"></note-box>
    </div>
  </div>
  <div class="content" #mainView>
    <video-box id="pcVideo" [allowFullscreen]="currentMainView === 'pcVideo'" [videoUrl]='pcVideoUrl | async'></video-box>
  </div>
</div>