@import "../pdf-editor/pdf-editor.component.scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background: $light-grey;
}

.type-icon {
  width: 40px;
  height: 40px;
  border: 1px solid $primary-color;
}

.overflow-auto {
  overflow-y: auto;
}
