<div class="images-wrapper">
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
  <a href="/" class="attached-image">
    <img src="https://dummyimage.com/384x216/000/fff" alt="" />
  </a>
</div>