@import '~style/variables.scss';

.app-wrapper {
  width: 100%;
  height: 100%;
}

.app-title {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.title {
  font-family:  Roboto,"Helvetica Neue",sans-serif; 
  color: black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.lecture-info{
  font: 400 17px/20px Roboto,"Helvetica Neue",sans-serif; 
  color: black;
}

.user-info {
  color: white;
}

.info-text{
  margin-left:4vw;
  margin-right:4vw;
  margin-bottom: 80px;
  font: 400 16px/20px Roboto,"Helvetica Neue",sans-serif; 
}

.example-sidenav {
  display: flex;
  flex-direction: column;
  width: 12vw;
  background:$color-primary;
}
