<div fxLayout="column" class="app-wrapper">
  <button color="primary" style="min-width:0 !important; width:30px !important; z-index:10000" mat-raised-button *ngIf="isCollapsed"
    (click)="collapseNavbar()">
    <mat-icon style="margin-left:-10px" svgIcon="menu"></mat-icon>
  </button>
  <div *ngIf="! isCollapsed">
    <mat-toolbar color="primary">
      <div fxLayout>
        <span class="app-title" routerLink="/">Lode3</span>
        <div *ngIf="isInViewer " fxFlexOffset="24px">
          <mat-button-toggle-group (change)="changeVideoLayout(layoutSelection.value)" #layoutSelection="matButtonToggleGroup" value="{{currentLayout}}">
            <mat-button-toggle value="{{has3Stream? 'TABULAR3' : 'TABULAR2'}}">
              <mat-icon class="black-icon" svgIcon="{{has3Stream? 'tabular3' : 'tabular2'}}"></mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="{{has3Stream? 'LINEAR3' : 'LINEAR2'}}">
              <mat-icon class="black-icon" svgIcon="{{has3Stream? 'linear3' : 'linear2'}}"></mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <button *ngIf="hasAnnotations" mat-raised-button style='margin-left:24px' (click)="showSlides()">Annotations gallery</button>
          <div fxFlexOffset="24px">
            <button mat-icon-button (click)="showInfo()">
              <mat-icon class="black-icon" svgIcon="info"></mat-icon>
            </button>
            <button mat-icon-button (click)="showHelp()">
              <mat-icon class="black-icon" svgIcon="help"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="(currentLecture$ | async) " fxFlexOffset="24px" class="lecture-title">
        <b>{{(currentLecture$ | async).name}}</b>
        <span>{{(currentLecture$ | async).course}}</span>
      </div>
      <div fxFlex="auto">
      </div>

      <div fxLayout fxLayoutAlign="center center">
        <div fxFlexOffset="12px">
          <ng-container *ngIf="!(email$ | async) ">
            <button mat-raised-button routerLink='/user/login'>Login</button>
          </ng-container>

          <ng-container *ngIf="(email$ | async) ">
            <div fxLayout fxLayoutAlign="center center" class="user-info">
              <mat-icon svgIcon="account"></mat-icon>
              <span fxFlexOffset="6px" class="mat-body-1">{{email$ |async}}</span>
            </div>
            <button mat-icon-button (click)="onLogout()" fxFlexOffset="6px" class="user-info">
              <mat-icon svgIcon="logout"></mat-icon>
            </button>
          </ng-container>
          <button *ngIf="isInViewer" mat-icon-button (click)="collapseNavbar()">
            <mat-icon svgIcon="menu"></mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <main #content fxLayout fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </main>
</div>