<div fxLayout="column" class="app-wrapper">
  <mat-toolbar color="primary">

    <div fxLayout>
      <span class="app-title" routerLink="/">Lode3</span>
      <div *ngIf="isInViewer" fxFlexOffset="24px">
        <mat-button-toggle-group (change)="changeVideoLayout(layoutSelection.value)" #layoutSelection="matButtonToggleGroup" value="{{has3Stream? 'LINEAR3' : 'LINEAR2'}}">
          <mat-button-toggle value="{{has3Stream? 'LINEAR3' : 'LINEAR2'}}">
            <mat-icon class="black-icon" svgIcon="{{has3Stream? 'linear3' : 'linear2'}}"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="{{has3Stream? 'TABULAR3' : 'TABULAR2'}}">
            <mat-icon class="black-icon" svgIcon="{{has3Stream? 'tabular3' : 'tabular2'}}"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <div fxFlexOffset="24px">
          <button mat-icon-button>
            <mat-icon class="black-icon" svgIcon="info" (click)="showInfo = !showInfo"></mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon class="black-icon" svgIcon="help" (click)="showHelp = !showHelp"></mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="currentLecture$ | async" fxFlexOffset="24px" class="lecture-title">
      <b>{{(currentLecture$ | async).name}}</b>
      <span>{{(currentLecture$ | async).course}}</span>
    </div>
    <div fxFlex="auto">
    </div>

    <div fxLayout fxLayoutAlign="center center">
      <button mat-raised-button routerLink='/lecture-list' *ngIf="email$ | async" fxFlexOffset="24px">Lectures</button>

      <div fxFlexOffset="12px">
        <ng-container *ngIf="!(email$ | async)">
          <button mat-raised-button routerLink='/user/login'>Login</button>
        </ng-container>

        <ng-container *ngIf="email$ | async">

          <div fxLayout fxLayoutAlign="center center" class="user-info">
            <mat-icon svgIcon="account"></mat-icon>
            <span fxFlexOffset="6px" class="mat-body-1">{{email$ |async}}</span>
          </div>

          <button mat-icon-button (click)="onLogout()" fxFlexOffset="6px" class="user-info">
            <mat-icon svgIcon="logout"></mat-icon>
          </button>
        </ng-container>
      </div>

    </div>

  </mat-toolbar>
  <div fxLayout="column" *ngIf="showHelp && isInViewer" class="info-text">
    <h4>Utilizzo del player</h4>
    <p>
      Il video può essere controllato dai pulsanti posizionati sotto lo stesso, che permettono di avviare/fermare la riproduzione,
      modificare la velocità (1x, 1.3x, 2x), escludere l'audio, saltare indietro o in avanti di 10 secondi.
      <br/> Il layout può essere modificato con i pulsanti sulla barra soprastante, mostrando i due stream video con la stessa
      dimensione, oppure visualizzando uno stream principale più grande.
      <br/> La barra di avanzamento riporta la posizione corrente nel video.
    </p>
  </div>
  <div fxLayout="column" *ngIf="showInfo && isInViewer" class="info-text">
    <h4>About Lode</h4>
    <p>
      Lode (Lectures On DEmand) è un software di acquisizione e riproduzione di videolezioni sviluppato da
      <a href='http://latemar.science.unitn.it'>Marco Ronchetti</a> e collaboratori presso l'Università degli Studi di Trento.
      <br/> Per dettagli si veda
      <a href='http://latemar.science.unitn.it/LODE'>il sito di progetto.</a>
    </p>
  </div>
  <main fxLayout fxLayoutAlign="center center">
    <router-outlet></router-outlet>
  </main>
</div>