<div fxLayout fxLayoutAlign="stretch center">


  <div>
    <button md-icon-button [ngClass]="{'selected': (selectedToolType === 'default' || !selectedToolType) }" (click)="onToolSelect('default')">
      <md-icon svgIcon="cursor-default-outline"></md-icon>
    </button>

    <button md-icon-button *ngFor="let tool of tools$ | async" [ngClass]="{'selected': tool.type === selectedToolType}" (click)="onToolSelect(tool.type)">
      <md-icon [svgIcon]="tool.icon"></md-icon>
    </button>
  </div>

  <hr class="divider">

  <div fxLayout fxLayoutAlign="center center">

    <md-icon svgIcon="format-line-weight"></md-icon>
    <md-form-field class="stroke-input">
      <input type="number" min="0" mdInput [ngModel]="stroke$ | async" (ngModelChange)="onStrokeChange($event)">
    </md-form-field>
  </div>

  <hr class="divider">

  <div>
    <button md-icon-button (click)="onSelectAll()">
      <md-icon svgIcon="select"></md-icon>
    </button>

    <button md-icon-button (click)="onDelete()">
      <md-icon svgIcon="delete"></md-icon>
    </button>
  </div>

</div>
